<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
   <head>
    
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <!-- site metas -->
      <title>Apartment Management System</title>
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
      <!-- bootstrap css -->
      <link rel="stylesheet" th:href="@{css/bootstrap.min.css}">
      <!-- style css -->
      <link rel="stylesheet" th:href="@{css/style.css}">
      <!-- Responsive-->
      <link rel="stylesheet" th:href="@{css/responsive.css}">
      <!-- fevicon -->
      <link rel="icon" th:href="@{images/fevicon.png}" type="image/gif" />
      <!-- Scrollbar Custom CSS -->
      <link rel="stylesheet" th:href="@{css/jquery.mCustomScrollbar.min.css}">
      <!-- Tweaks for older IEs-->
      <link rel="stylesheet" th:href="@{https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css}">
      <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css}" media="screen">
      <script th:src="@{https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js}"></script>
      <script src="http://code.angularjs.org/1.2.13/angular.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.8/angular-ui-router.min.js"></script>
<script src="app.js"></script>
<script src="loginController.js"></script>
<script src="homeController.js"></script>
<script src="loginService.js"></script>
      <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
   </head>
   <!-- body -->
   <body class="main-layout">
      <!-- loader  -->
      <div class="loader_bg">
         <div class="loader"><img th:src="@{images/loading.gif}" alt="#" /></div>
      </div>
      <!-- end loader --> 
      <!-- header -->
      <header>
         <!-- header inner -->
         <div class="header">
         <div class="container">
            <div class="row">
               <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col logo_section">
                  <div class="full">
                     <div class="center-desk">
                        <div class="logo"> <a th:href="@{index.html}">Apartment</a> </div>
                     </div>
                  </div>
               </div>
               <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9">
                  <div class="menu-area">
                     <div class="limit-box">
                        <nav class="main-menu">
                           <ul class="menu-area-main">
                              <li> <a th:href="@{/}">Home</a> </li>
                              <li class="active"> <a th:href="@{admin}">Admin</a> </li>
                              <li> <a th:href="@{member}"> User</a> </li>
                              <li> <a th:href="@{secretory}">Owner</a> </li>
                              
                           </ul>
                        </nav>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <!-- end header inner --> 
      </header>
    
     
      <!-- Testimonial -->
      <div id="testimonial" class="testimonial">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="titlepage">
                     <h3> Login</h3>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                  <div id="testimonial_slider" class="carousel slide banner-bg" data-ride="carousel">
                     <div class="carousel-inner">
                        <div class="carousel-item active">
                          
                           <div class="container">
                              <div class="carousel-caption relat">
                                 <h3>Admin</h3>
                                 <span><i class="fa fa-quote-left"></i> ( Operations )<i class="fa fa-quote-right"></i></span>
                               
                               <p>
                               Admin can manage all the  system by login with his username andpassword.Admin can register or add detail of society and create or add detail of number of houses of particular society.
After crating a house, add members/owners/ allocate  the house and generate username and password for all the member of this system. 
The member is a owner of house.
Admin can able to delete/Update the the house info .</p>
                               
                                </div>
                           </div>
                        </div>
                        <div class="carousel-item">
                    
                           <div class="container">
                              <div class="carousel-caption relat">
                                 <h3>User </h3>
                                 <span><i class="fa fa-quote-left"></i> ( Operation )<i class="fa fa-quote-right"></i></span>
                                <p>
                                User can make any complain related to house/flat  by login his account and he can change/update  his account details  and can also see event details.
Can also able to see the expenses details and able to pay the expense through any dummy payment system (i.e after paying the bill member can get message that bill paid.
                                </p>
                              </div>
                           </div>
                        </div>
                        <div class="carousel-item">
                     
                           <div class="container">
                              <div class="carousel-caption relat">
                                 <h3>Owner</h3>
                                 <span><i class="fa fa-quote-left"></i> ( Operation )<i class="fa fa-quote-right"></i></span>
                                <p>
                                owner can add/ manage  monthly expenses on parking ,cleaning ,watchmen salary etc and events and can also add events.
Can able to check the maintenance /expense pending list.
                                </p>
                             
                              </div>
                           </div>
                        </div>
                     </div>
                     <a class="carousel-control-prev" th:href="@{kishan}" role="button" data-slide="prev"> <i class='fa fa-angle-right'></i></a> <a class="carousel-control-next" href="#testimonial_slider" role="button" data-slide="next"> <i class='fa fa-angle-left'></i></a> 
                  </div>
               </div>
               <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                  <div class="contact">
                  <h6 th:text="${message}" style="color:red;"></h6>
                     <h3>Admin Logni</h3>
                     <form th:action="@{adminlogin}" method="post">
                        <div class="row">
                           <div class="col-sm-12">
                              <input class="contactus" placeholder="UserName" type="text" name="username">
                           </div>
                           <div class="col-sm-12">
                              <input class="contactus" placeholder="Password" type="password" name="password">
                           </div>
                           
                           <div class="col-sm-12">
                              <button class="send">Login</button>
                           </div>
                        </div>
                     </form>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- end Testimonial --> 
      <!--  footer --> 
      <footr>
         <div class="footer">
            
            <div class="copyright">
               <p>Copyright 2019 All Right Reserved By "Housing Society Management"</p>
            </div>
         </div>
      </footr>
      <!-- end footer -->
      <!-- Javascript files--> 
      <script th:src="@{js/jquery.min.js}"></script> 
      <script th:src="@{js/popper.min.js}"></script> 
      <script th:src="@{js/bootstrap.bundle.min.js}"></script> 
      <script th:src="@{js/jquery-3.0.0.min.js}"></script> 
      <script th:src="@{js/plugin.js}"></script> 
      <!-- sidebar --> 
      <script th:src="@{js/jquery.mCustomScrollbar.concat.min.js}"></script> 
      <script th:src="@{js/custom.js}"></script>
      <script th:src="@{https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js}"></script>
      
      <script>
         $(document).ready(function(){
         $(".fancybox").fancybox({
         openEffect: "none",
         closeEffect: "none"
         });
         
         $(".zoom").hover(function(){
         
         $(this).addClass('transition');
         }, function(){
         
         $(this).removeClass('transition');
         });
         });
         
      </script> 
   </body>
</html>